In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
from scipy.stats import linregress
import pandas as pd
import numpy as np
import requests
import time
import gmaps


from citipy import citipy


from config1 import api_key

from config1 import (api_key, gkey)

gmaps.configure(api_key=gkey)

In [16]:
happy_matt=pd.read_csv("Resources\happiness\happiness_ranking2015.csv")
happy_matt.head()

,Unnamed: 0,Country,Happiness Score,Happiness Rank,Health (Life Expectancy),Lat,Lng,Short Name,Country Code
0,0,Switzerland,7.587,1,0.94143,46.818188,8.227512,CH,CHE
1,1,Iceland,7.561,2,0.94784,64.963051,-19.020835,IS,ISL
2,2,Denmark,7.527,3,0.87464,56.263920,9.501785,DK,DNK
3,3,Norway,7.522,4,0.88521,60.472024,8.468946,NO,NOR
4,4,Canada,7.427,5,0.90563,56.130366,-106.346771,CA,CAN

In [17]:
happy_matt_df = happy_matt[["Country","Happiness Score","Happiness Rank","Country Code"]]
happy_matt_df.head()

       Country  Happiness Score  Happiness Rank Country Code
0  Switzerland            7.587               1          CHE
1      Iceland            7.561               2          ISL
2      Denmark            7.527               3          DNK
3       Norway            7.522               4          NOR
4       Canada            7.427               5          CAN

In [29]:
lats=happy_matt["Lat"]
lngs=happy_matt["Lng"]

In [31]:
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
    else:
        cities.append("no data")

# Print the city count to confirm sufficient count
len(cities)

158

In [32]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
query_url = f"{url}appid=423160d06ea84b634174ef9038841d0f&units={units}&q="

city_data=[]
name=[]
cloudness=[]
country=[]
date=[]
humidity=[]
lat=[]
lng=[]
max_temp=[]
wind_speed=[]

print("Begining Data Retrieval")
print("---------------------------------------------------")
  
i=1
for city in cities:
        try:
            response = requests.get(query_url + city).json()
            if response['cod'] == 200:
                print("Processing Record " + str(i) + " of Set 1 | " + city)
                #city_data.append(response)
                name.append(response['name'])
                cloudness.append(response["clouds"]["all"])
                country.append(response['sys']['country'])
                date.append(response['sys']['sunrise'])
                humidity.append(response['main']['humidity'])
                lat.append(response['coord']['lat'])
                lng.append(response['coord']['lon'])
                wind_speed.append(response['wind']['speed'])
                max_temp.append(response['main']['temp_max'])
            else:
                print(f"City not found,skipping...")
                name.append("no data")
                cloudness.append("no data")
                country.append("no data")
                date.append("no data")
                humidity.append("no data")
                lat.append("no data")
                lng.append("no data")
                wind_speed.append("no data")
                max_temp.append("no data")
        except:
            print(f"{response} Exception...")
            name.append("NAN")
            cloudness.append("NAN")
            country.append("NAN")
            date.append("NAN")
            humidity.append("NAN")
            lat.append("NAN")
            lng.append("NAN")
            wind_speed.append("NAN")
            max_temp.append("NAN")

        i=i+1

Begining Data Retrieval
---------------------------------------------------
Processing Record 1 of Set 1 | sarnen
Processing Record 2 of Set 1 | dalvik
Processing Record 3 of Set 1 | kjellerup
City not found,skipping...
Processing Record 5 of Set 1 | la ronge
City not found,skipping...
Processing Record 7 of Set 1 | soest
Processing Record 8 of Set 1 | norrtalje
Processing Record 9 of Set 1 | porirua
Processing Record 10 of Set 1 | alice springs
Processing Record 11 of Set 1 | yeroham
Processing Record 12 of Set 1 | san rafael
Processing Record 13 of Set 1 | hall
City not found,skipping...
Processing Record 15 of Set 1 | coffeyville
Processing Record 16 of Set 1 | mozarlandia
Processing Record 17 of Set 1 | schieren
Processing Record 18 of Set 1 | kilcormac
Processing Record 19 of Set 1 | brunehaut
Processing Record 20 of Set 1 | abu dhabi
Processing Record 21 of Set 1 | moffat
Processing Record 22 of Set 1 | nizwa
Processing Record 23 of Set 1 | puerto carreno
Processing Record 24 of Set 1 | singapore
Processing Record 25 of Set 1 | ola
Processing Record 26 of Set 1 | muhlhausen
Processing Record 27 of Set 1 | san clemente
Processing Record 28 of Set 1 | doha
Processing Record 29 of Set 1 | gueret
Processing Record 30 of Set 1 | bahia blanca
Processing Record 31 of Set 1 | golcuv jenikov
Processing Record 32 of Set 1 | paso de los toros
Processing Record 33 of Set 1 | san antonio del tequendama
Processing Record 34 of Set 1 | nong phai
Processing Record 35 of Set 1 | riyadh
Processing Record 36 of Set 1 | pozuelo de alarcon
Processing Record 37 of Set 1 | mellieha
Processing Record 38 of Set 1 | chichi
City not found,skipping...
Processing Record 40 of Set 1 | brokopondo
Processing Record 41 of Set 1 | arima
Processing Record 42 of Set 1 | san martin
Processing Record 43 of Set 1 | chisec
Processing Record 44 of Set 1 | nurota
Processing Record 45 of Set 1 | brezno
Processing Record 46 of Set 1 | maruko
Processing Record 47 of Set 1 | seoul
Processing Record 48 of Set 1 | palora
Processing Record 49 of Set 1 | sitrah
Processing Record 50 of Set 1 | ciampino
City not found,skipping...
Processing Record 52 of Set 1 | telenesti
Processing Record 53 of Set 1 | pozo colorado
Processing Record 54 of Set 1 | zhezkazgan
Processing Record 55 of Set 1 | zagorje ob savi
Processing Record 56 of Set 1 | kedainiai
Processing Record 57 of Set 1 | rio blanco
Processing Record 58 of Set 1 | campoverde
Processing Record 59 of Set 1 | minsk
Processing Record 60 of Set 1 | leczyca
Processing Record 61 of Set 1 | kuala lipis
Processing Record 62 of Set 1 | ogulin
Processing Record 63 of Set 1 | sabha
Processing Record 64 of Set 1 | yerbogachen
Processing Record 65 of Set 1 | may pen
City not found,skipping...
Processing Record 67 of Set 1 | geri
Processing Record 68 of Set 1 | adrar
Processing Record 69 of Set 1 | kosovo polje
Processing Record 70 of Set 1 | annau
Processing Record 71 of Set 1 | midlands
Processing Record 72 of Set 1 | shenzhen
Processing Record 73 of Set 1 | vandra
Processing Record 74 of Set 1 | sampit
City not found,skipping...
Processing Record 76 of Set 1 | kayseri
Processing Record 77 of Set 1 | at-bashi
Processing Record 78 of Set 1 | kagoro
City not found,skipping...
Processing Record 80 of Set 1 | ucar
Processing Record 81 of Set 1 | kohlu
Processing Record 82 of Set 1 | bayir
Processing Record 83 of Set 1 | podgorica
Processing Record 84 of Set 1 | lanzhou
Processing Record 85 of Set 1 | kalulushi
Processing Record 86 of Set 1 | soars
Processing Record 87 of Set 1 | kragujevac
Processing Record 88 of Set 1 | tramagal
Processing Record 89 of Set 1 | ogre
Processing Record 90 of Set 1 | bansud
City not found,skipping...
Processing Record 92 of Set 1 | marrakesh
Processing Record 93 of Set 1 | caska
Processing Record 94 of Set 1 | dondo
Processing Record 95 of Set 1 | elbasan
Processing Record 96 of Set 1 | voljevac
Processing Record 97 of Set 1 | thaba-tseka
Processing Record 98 of Set 1 | villa altagracia
Processing Record 99 of Set 1 | luang prabang
Processing Record 100 of Set 1 | bulgan
Processing Record 101 of Set 1 | sidvokodvo
Processing Record 102 of Set 1 | rentina
City not found,skipping...
Processing Record 104 of Set 1 | taborfalva
City not found,skipping...
City not found,skipping...
City not found,skipping...
Processing Record 108 of Set 1 | jerusalem
Processing Record 109 of Set 1 | dhaka
Processing Record 110 of Set 1 | ardakan
Processing Record 111 of Set 1 | lypnyazhka
Processing Record 112 of Set 1 | baghdad
Processing Record 113 of Set 1 | carnarvon
Processing Record 114 of Set 1 | ejura
Processing Record 115 of Set 1 | redcliffe
Processing Record 116 of Set 1 | gbarnga
Processing Record 117 of Set 1 | hinganghat
Processing Record 118 of Set 1 | bara
Processing Record 119 of Set 1 | verrettes
Processing Record 120 of Set 1 | mweka
Processing Record 121 of Set 1 | pokhara
Processing Record 122 of Set 1 | gelemso
Processing Record 123 of Set 1 | yele
Processing Record 124 of Set 1 | atar
Processing Record 125 of Set 1 | maua
City not found,skipping...
City not found,skipping...
Processing Record 128 of Set 1 | mopipi
Processing Record 129 of Set 1 | sagaing
Processing Record 130 of Set 1 | dublin
Processing Record 131 of Set 1 | ntchisi
Processing Record 132 of Set 1 | sigiriya
Processing Record 133 of Set 1 | tignere
City not found,skipping...
Processing Record 135 of Set 1 | asyut
Processing Record 136 of Set 1 | sayyan
Processing Record 137 of Set 1 | camacupa
Processing Record 138 of Set 1 | goundam
Processing Record 139 of Set 1 | brazzaville
Processing Record 140 of Set 1 | moroni
Processing Record 141 of Set 1 | nakasongola
Processing Record 142 of Set 1 | koungheul
Processing Record 143 of Set 1 | booue
Processing Record 144 of Set 1 | agadez
Processing Record 145 of Set 1 | kampong thum
Processing Record 146 of Set 1 | kilimatinde
Processing Record 147 of Set 1 | arivonimamo
Processing Record 148 of Set 1 | ippy
Processing Record 149 of Set 1 | ati
Processing Record 150 of Set 1 | tokonou
Processing Record 151 of Set 1 | beoumi
Processing Record 152 of Set 1 | ouagadougou
City not found,skipping...
Processing Record 154 of Set 1 | gitarama
Processing Record 155 of Set 1 | beterou
Processing Record 156 of Set 1 | abu kamal
Processing Record 157 of Set 1 | gitega
Processing Record 158 of Set 1 | sotouboua

In [34]:
cloudness

[0,
 92,
 32,
 'no data',
 90,
 'no data',
 0,
 75,
 20,
 0,
 36,
 68,
 75,
 'no data',
 90,
 8,
 1,
 48,
 12,
 0,
 0,
 0,
 75,
 75,
 68,
 0,
 1,
 0,
 0,
 0,
 0,
 88,
 75,
 8,
 75,
 0,
 0,
 36,
 'no data',
 40,
 40,
 1,
 8,
 64,
 0,
 92,
 90,
 75,
 0,
 0,
 'no data',
 0,
 0,
 36,
 0,
 24,
 88,
 0,
 0,
 12,
 88,
 0,
 68,
 44,
 40,
 'no data',
 75,
 40,
 0,
 0,
 20,
 40,
 0,
 76,
 'no data',
 75,
 88,
 24,
 'no data',
 90,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 36,
 'no data',
 75,
 0,
 20,
 0,
 0,
 32,
 75,
 0,
 0,
 0,
 0,
 'no data',
 0,
 'no data',
 'no data',
 'no data',
 75,
 12,
 20,
 0,
 90,
 44,
 12,
 24,
 48,
 20,
 0,
 68,
 80,
 0,
 24,
 0,
 0,
 100,
 'no data',
 'no data',
 32,
 0,
 75,
 0,
 0,
 12,
 'no data',
 0,
 8,
 32,
 20,
 20,
 80,
 0,
 44,
 48,
 0,
 88,
 24,
 75,
 0,
 0,
 68,
 20,
 0,
 'no data',
 75,
 32,
 92,
 32,
 32]

In [ ]:
# select top 20 happiness country and store top20 maker location for lat, lng
top20=happy_matt_df.loc[happy_matt_df["Happiness Rank"]<21]
top20_marker_locations =top20[["Lat","Lng"]]
top20_countries=top20["Country"]
top20

In [34]:
# Create a map using top20 Happiness country coordinates to set markers
# Create a marker_layer using the top20 country name list to fill the info box
fig1 = gmaps.figure()
markers1 = gmaps.marker_layer(top20_marker_locations,info_box_content=[f"Country: {country}" for country in top20_countries])
fig1.add_layer(markers1)

fig1

Figure(layout=FigureLayout(height='420px'))